---


---
<div class="w-screen h-[70vh] bg-transparent flex border-2 p-20">
    <div class="title text-[8rem] tracking-wider"><span class="italic ">Feichuan</span></div>
</div>

<script>
        import {gsap} from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
// ScrollSmoother requires ScrollTrigger
import { ScrollSmoother } from "gsap/ScrollSmoother";
import { SplitText } from "gsap/SplitText";

gsap.registerPlugin(ScrollTrigger,ScrollSmoother,SplitText);
let split = SplitText.create(".title", {type:"words,chars", charsClass:"char",mask:"chars"});
gsap.from(split.chars, {
    x:150,
    opacity:0,
    duration:0.8,
    ease:"power4",
    stagger:0.1,
})
</script>