---
import { Image } from "astro:assets";
import { NavList, SITE_TITLE } from "../consts";
---

<header
  class="nav w-screen mix-blend-difference h-16 fixed z-[1] top-0 left-0 right-0 mx-auto shadow-inner text-white backdrop-blur-lg -translate-y-full"
>
  <div class="flex justify-between h-full w-full p-5">
    <div class="left mix-blend-overlay">
      <a
        id="logoText"
        class="h-full flex justify-center items-center text-3xl"
        href="/">{SITE_TITLE}</a
      >
    </div>
    <div class="center search"></div>
    <div class="right h-full">
      <nav class="flex h-full">
        {
          NavList.map((item) => (
            <a
              class="mix-blend-overlay text-2xl  h-full flex justify-center items-center hover:bg-blue-500 rounded-[9999px] p-2 data-[current]:underline  data-[current]:text-blue-400"
              href={item.href}
              data-href={item.href}
            >
              {item.label}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
<script>
  import gsap from "gsap";
  import ScrambleTextPlugin from "gsap/ScrambleTextPlugin";
  import { debounce, throttle } from "es-toolkit";
  gsap.registerPlugin(ScrambleTextPlugin);
  const isNearWindowTop = () => {
    return window.scrollY <= 30;
  };
  let navStatus: string = "undefined";
  const debounceNav = throttle((direction: string) => {
    if (direction === "up" && isNearWindowTop() && navStatus === "shrink") {
      console.log(navStatus);
      navStatus = "grow";
      gsap.to(".nav", {
        translateY: "0",
        width: "100%",
        borderRadius: "0",
        duration: 0.3,
        ease: "none",
      });
    } else if (
      (direction === "down" && navStatus === "grow") ||
      navStatus === "undefined"
    ) {
      console.log(navStatus);
      navStatus = "shrink";
      gsap.to(".nav", {
        translateY: "20px",
        width: "40rem",
        borderRadius: "99999px",
        duration: 0.3,
        ease: "none",
      });
    }
  }, 100);
  window.addEventListener("load", (e) => {
    gsap.set(".nav", { y: "-100%" });
    const logoText = document.getElementById("logoText") as HTMLAnchorElement;
    const nav = document.querySelector(".nav") as HTMLElement;
    const linkArray = document.querySelectorAll(
      ".nav .right a"
    ) as NodeListOf<HTMLAnchorElement>;
    console.log(linkArray);

    linkArray.forEach((link) => {
      const path = link.dataset.href;
      console.log(path, window.location.pathname);
      if (path === window.location.pathname) {
        link.dataset.current = "true";
      }
    });
    window.addEventListener("Intro:start", () => {
      // gsap.to(nav, {
      //   y: "-100%",
      //   duration: 0.1,
      //   ease: "power2.inOut",
      // });
    });
    window.addEventListener("Intro:end", () => {
      console.log("ENd");

      gsap.to(".nav", {
        y: 0,
        duration: 1,
        // position: "sticky",
        ease: "power2.inOut",
      });
    });
    window.addEventListener("wheel", (e: any) => {
      const direction = (e.wheelDelta as number) >= 0 ? "up" : "down";
      // console.log(window.scrollY, e, direction);

      // debounceNav(direction);
    });
  });
</script>
<style lang="scss">
  .nav {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
</style>
