---
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import Mouse from "../components/Mouse.astro";
---

<!doctype html>
<html lang="zh-cn">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="body">
    <Mouse />

    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
    <script></script>
  </body>
</html>
