---
import Mouse from "../components/Mouse.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
<head>
    
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body class="body">
    <Mouse />
    <Navbar client:load />
    <main>
        <slot />
    </main>
    <Footer />
</body>
</html>